*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
h1{
    color:  rgb(86, 249, 86);
}
#contenitore{
    display: flex;
    flex-wrap: wrap;
}
#contenitore .square{
    width:calc(10% - 10px);
    height: 50px;
    padding: 5px;
    background-color: rgb(86, 249, 86);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
  
}

